html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.hidden {
    visibility: hidden;
}

.visible {
    display: inline-block !important ;
}

.opacity-contact {
    opacity: 1 !important ;
}

.instruction {
    border: solid 1px transparent; 
    padding: .625rem;
    background-color: rgba(112, 112, 128, 0.651);
    box-shadow: 10px 11px 18px 1px;
    border-radius: .625rem;
    z-index: 1;
    position: absolute;
}

.mouse-gif {
    width: 6.25rem;
    height: auto;
}

.instruction-image {
    width: 2.5rem;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
}

.container-inline {
    display: flex;
    justify-content: space-between;
}

.close-cross:hover {
    transform: scale(2, 2);
    background-color: red;
}

progress {
    display: block;
}

.sprite {
    display: none;
    opacity: 0;
    border: solid 1px transparent;
    padding: .625rem;
    background-color: rgba(112, 112, 128, 0.9);
    box-shadow: 10px 11px 18px 1px;
    border-radius: .625rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
}

.sprite:hover {
    display: inline-block;
    opacity: 1;
}

#presentation {
    width: 25%;
}

.photo {
    width: 12.5rem;
    height: auto;
    float: left;
}

.opacity {
    opacity: 1;
    transform: translateY(-20px);
    transform: translateX(10px);
}

.is-active {
    display: inline-block;
}

.button-ok {
    display: inline;
    margin-left: 6rem;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

#contact-form input,
#contact-form textarea {
    margin-bottom: .625rem;
}