html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    visibility: hidden;
}

.instruction {
    border: solid 1px blue;
    padding: .625rem;
    background-color: rgba(0, 0, 255, 0.651);
    color: white;
    border-radius: .625rem;
    z-index: 1;
    position: absolute;
}

.sprite {
    opacity: 0;
    border: solid 1px blue;
    padding: .625rem;
    background-color: rgba(0, 0, 255, 0.651);
    color: white;
    border-radius: .625rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s, transform 0.5s;
}

.is-active {
    opacity: 1;
    transform: translateY(-20px);
    transform: translateX(10px);
}

.ok {
    text-align: right;
    display: inline;
    margin-left: 6rem;
}